<div class="mast-wrapper">
  <header class="mast container">
    <div class="brand">

    </div> <!-- /.brand -->
    <a href="#" class="hamburger" id="js-hamburger">
      <span class="bun bun--top"></span>
      <span class="meat"></span>
      <span class="bun bun--bottom"></span>
    </a>
  </header> <!-- /.mast.container -->
</div> <!-- /.mast-wrapper -->