<div class="mast-wrapper">
  <header class="mast container">
    <a class="brand" href="/">
      <img class="brand-symbol" src="/assets/img/logo-symbol.svg" alt="VA">
      <img class="brand-full" src="/assets/img/logo-full.svg" alt="The Variable">
    </a> <!-- /.brand -->
    <a href="#" class="hamburger" id="js-hamburger">
      <span class="bun bun--top"></span>
      <span class="meat"></span>
      <span class="bun bun--bottom"></span>
    </a>
  </header> <!-- /.mast container -->
</div> <!-- /.mast-wrapper -->

<div class="hero-wrapper">
  <section class="hero container">
    <div class="hero-blurbs">
      <h1 class="hero-blurb">Silicon Valley smarts. Tobacco Road sensibility.</h1>
      <div class="hero-blurb-badge">
        <span>No. 3</span>
      </div> <!-- /.hero-blurb-badge -->
    </div> <!-- /.hero-blurbs -->
    <h2 class="hero-tagline">We are a reformed ad agency created by entrepreneurs, design geeks, makers, ethnographers, data wonks and big agency survivors. We are built to solve problems. And create opportunities.</h2>
  </section> <!-- /.hero container -->
</div> <!-- /.hero-wrapper -->