<section class="project-hero">
  <div class="project-hero-container">
    <img src="static/img/img-hero.jpg" alt="Project Hero Image">
  </div> <!-- /.project-hero-container -->
</section> <!-- /.project-hero -->

<section class="panels">

  <div class="panel">
      <div class="panel-intro">
        <div class="project-disciplines">
          <span class="project-discipline">Branding, </span>
          <span class="project-discipline">Digital, </span>
          <span class="project-discipline">&amp; Interactive</span>
        </div> <!-- /.disciplines -->
        <h1 class="project-title">Lowes Foods</h1>
        <p class="project-description">We are a reformed ad agency created by entrepreneurs, design geeks, makers, ethnographers, data wonks and big agency survivors. We are built to solve problems. And create opportunities.</p>
      </div> <!-- /.panel-intro col col--1of1 -->
  </div> <!-- /.panel -->

  <div class="panel">
    <div class="slides">
      <div class="slide">
        <div class="slide-media">
          <img src="static/img/img-full.jpg" alt="Slide Image">
        </div> <!-- /.slide-media -->
        <div class="slide-content">
          <p class="slide-description">We are a reformed ad agency created by entrepreneurs, design geeks, makers, ethnographers, data wonks and big agency survivors. We are built to solve problems. And create opportunities.</p>
          <div class="slide-count">
            <span class="slide-current">01</span>
            <span class="slide-total">04</span>
          </div> <!-- /.slide-count -->
        </div> <!-- /.slide-content -->
      </div> <!-- /.slide -->
      <div class="slide">
        <div class="slide-media">
          <img src="static/img/img-full.jpg" alt="Slide Image">
        </div> <!-- /.slide-media -->
        <div class="slide-content">
          <p class="slide-description">We are a reformed ad agency created by entrepreneurs, design geeks, makers, ethnographers, data wonks and big agency survivors. We are built to solve problems. And create opportunities.</p>
          <div class="slide-count">
            <span class="slide-current">02</span>
            <span class="slide-total">04</span>
          </div> <!-- /.slide-count -->
        </div> <!-- /.slide-content -->
      </div> <!-- /.slide -->
      <div class="slide">
        <div class="slide-media">
          <img src="static/img/img-full.jpg" alt="Slide Image">
        </div> <!-- /.slide-media -->
        <div class="slide-content">
          <p class="slide-description">We are a reformed ad agency created by entrepreneurs, design geeks, makers, ethnographers, data wonks and big agency survivors. We are built to solve problems. And create opportunities.</p>
          <div class="slide-count">
            <span class="slide-current">03</span>
            <span class="slide-total">04</span>
          </div> <!-- /.slide-count -->
        </div> <!-- /.slide-content -->
      </div> <!-- /.slide -->
      <div class="slide">
        <div class="slide-media">
          <img src="static/img/img-full.jpg" alt="Slide Image">
        </div> <!-- /.slide-media -->
        <div class="slide-content">
          <p class="slide-description">We are a reformed ad agency created by entrepreneurs, design geeks, makers, ethnographers, data wonks and big agency survivors. We are built to solve problems. And create opportunities.</p>
          <div class="slide-count">
            <span class="slide-current">04</span>
            <span class="slide-total">04</span>
          </div> <!-- /.slide-count -->
        </div> <!-- /.slide-content -->
      </div> <!-- /.slide -->
    </div> <!-- /.slides -->
  </div> <!-- /.panel -->

  <div class="panel">
    <div class="panel-video" data-video-id="76962782">
      <img src="static/img/img-lowes-video-1.jpg" alt="Video Poster Image">
      <a class="video-icon"></a>
    </div> <!-- /.panel-video -->
  </div> <!-- /.panel -->

  <div class="panel">
    <div class="panel-media panel-col panel-col--1of2">
      <img src="static/img/img-lowes-billboard-1.jpg" alt="">
    </div> <!-- /.panel-media panel-col panel-col--1of2 -->
    <div class="panel-media panel-col panel-col--1of2">
      <img src="static/img/img-lowes-billboard-2.jpg" alt="">
    </div> <!-- /.panel-media panel-col panel-col--1of2 -->
  </div> <!-- /.panel -->

  <div class="panel">
    <div class="panel-media panel-col panel-col--1of2">
      <img src="http://placehold.it/1700x1700" alt="">
    </div> <!-- /.panel-media panel-col panel-col--1of2 -->
    <div class="panel-content panel-col panel-col--1of2">
      <div class="panel-content-outer">
        <div class="panel-content-inner">
          <h1>Headline</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque nisl, efficitur ut aliquet sed, commodo ut augue. Donec tempor elit quis magna et pretium laoreet. Integer volutpat leo tortor, eget facilisis tortor laoreet ut. Donec vitae purus ac eros facilisis pulvinar id non erat. Sed vitae vulputate erat. Fusce tempor sollicitudin elit, nec vulputate.</p>
        </div> <!-- /.panel-content-inner -->
      </div> <!-- /.panel-content -->
    </div> <!-- /.panel-media panel-col panel-col--1of2 -->
  </div> <!-- /.panel -->

  <div class="panel">
    <div class="panel-media panel-media--full">
      <img src="http://placehold.it/3400X1975/ececec/222222">
    </div> <!-- /.panel-media--full -->
  </div> <!-- /.panel -->

  <div class="panel">
    <div class="panel-collection">
      <div class="panel-collection-inner">
        <div class="panel-col panel-col--1of2">
          <img src="http://placehold.it/1700x2184" alt="">
        </div>
        <div class="panel-col panel-col--1of2">
          <div class="panel-row panel-row--media">
            <img src="http://placehold.it/1700X1092" alt="">
          </div>
          <div class="panel-row panel-row--content">
            <div class="row-content">
              <h1>Title</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing elit. Lorem ipsum dolor sit amet.</p>
            </div>
          </div> <!-- /.panel-row panel-row--content -->
        </div> <!-- /.panel-col panel-col--secondary -->
      </div> <!-- /.panel-collection-inner -->
    </div> <!-- /.panel-collection -->
  </div> <!-- /.panel -->

  <div class="panel">
    <div class="panel-media panel-media--single">
      <img src="http://placehold.it/960X630" alt="">
    </div> <!-- /.panel-media panel-media--single -->
  </div> <!-- /.panel -->

</section> <!-- /.panels -->

<section class="project-nav">
  <a href="#" class="project-nav-btn project-nav-btn--prev">Previous Project</a>
  <a href="#" class="project-nav-btn project-nav-btn--next">Next Project</a>
</section> <!-- /.project-nav -->
