<section class="project-hero">
  <div class="project-hero-container" style="background-image: url(/assets/img/img-hero-test@1x.jpg)"></div> <!-- /.project-hero-container -->
</section> <!-- /.project-hero -->

<section class="panels">

  <div class="panel">
    <div class="panel-collection panel-collection--narrow">
      <div class="panel-intro panel-col panel-col--1of1">
        <div class="project-disciplines">
          <span class="project-discipline">Branding, </span>
          <span class="project-discipline">Digital, </span>
          <span class="project-discipline">&amp; Interactive</span>
        </div> <!-- /.disciplines -->
        <h1 class="project-title">Lowes Foods</h1>
        <p class="project-description">We are a reformed ad agency created by entrepreneurs, design geeks, makers, ethnographers, data wonks and big agency survivors. We are built to solve problems. And create opportunities.</p>
      </div> <!-- /.panel-content panel-intro panel-col panel-col--1of1 -->
    </div> <!-- /.panel-collection panel-collection--narrow -->
  </div> <!-- /.panel -->

  <div class="panel">
    <div class="panel-collection panel-collection--full">
      <div class="panel-media--full" style="background-image: url(/assets/img/img-full-test.jpg)"></div> <!-- /.panel-media--full -->
    </div> <!-- /.panel-collection panel-collection--full -->
  </div> <!-- /.panel -->

  <div class="panel has-bg">
    <div class="panel-collection panel-collection--centered">
      <div class="panel-content panel-col panel-col--1of2">
        <h3>Collection Content</h3>
        <p>Cardigan kogi Bushwick, biodiesel actually gastropub cray forage wayfarers +1 tote bag trust fund jean shorts XOXO.  Meggings vinyl fixie, try-hard 3 wolf moon brunch taxidermy cliche PBR&amp;B.  Mustache fingerstache ethical, Marfa asymmetrical Helvetica Brooklyn tilde occupy Thundercats dreamcatcher Odd Future.  Occupy direct trade  literally retro ennui heirloom, fashion axe you probably haven't heard of them selvage.  Messenger bag semiotics fingerstache, cliche you probably haven't heard of them banh mi organic Cosby sweater fap mixtape direct trade  viral typewriter mlkshk Banksy.  Tattooed meggings letterpress heirloom, tousled yr leggings mlkshk next level vegan artisan whatever swag stumptown.  Slow-carb try-hard kitsch Helvetica, direct trade  PBR quinoa.</p>
      </div> <!-- /.panel-content panel-col panel-col--1of2 -->
      <div class="panel-media panel-col panel-col--1of2">
        <img src="http://www.fillmurray.com/600/600" alt="">
      </div> <!-- /.panel-media panel-col panel-col--1of2 -->
    </div> <!-- /.panel-collection panel-collection--centered -->
  </div> <!-- /.panel has-bg -->

  <div class="panel">
    <div class="panel-collection panel-collection--centered">
      <div class="panel-media panel-col panel-col--1of4">
        <img src="http://www.fillmurray.com/300/300" alt="">
      </div> <!-- /.panel-media panel-col panel-col--1of4 -->
      <div class="panel-content panel-col panel-col--2of4">
        <h3>Collection Content</h3>
        <p>Cardigan kogi Bushwick, biodiesel actually gastropub cray forage wayfarers +1 tote bag trust fund jean shorts XOXO.  Meggings vinyl fixie, try-hard 3 wolf moon brunch taxidermy cliche PBR&amp;B.  Mustache fingerstache ethical, Marfa asymmetrical Helvetica Brooklyn tilde occupy Thundercats dreamcatcher Odd Future.  Occupy direct trade  literally retro ennui heirloom, fashion axe you probably haven't heard of them selvage.  Messenger bag semiotics fingerstache, cliche you probably haven't heard of them banh mi organic Cosby sweater fap mixtape direct trade  viral typewriter mlkshk Banksy.  Tattooed meggings letterpress heirloom, tousled yr leggings mlkshk next level vegan artisan whatever swag stumptown.  Slow-carb try-hard kitsch Helvetica, direct trade  PBR quinoa.</p>
      </div> <!-- /.panel-content panel-col panel-col--2of4 -->
      <div class="panel-media panel-col panel-col--1of4">
        <img src="http://www.fillmurray.com/300/300" alt="">
      </div> <!-- /.panel-media panel-col panel-col--1of4 -->
    </div> <!-- /.panel-collection panel-collection--centered -->
  </div> <!-- /.panel -->

  <div class="panel has-bg">
    <div class="panel-collection panel-collection--centered">
      <div class="panel-media panel-col panel-col--1of3">
        <h3>Collection Content</h3>
        <p>Cardigan kogi Bushwick, biodiesel actually gastropub cray forage wayfarers +1 tote bag trust fund jean shorts XOXO.  Meggings vinyl fixie, try-hard 3 wolf moon brunch taxidermy cliche PBR&amp;B.  Mustache fingerstache ethical, Marfa asymmetrical Helvetica Brooklyn tilde occupy Thundercats dreamcatcher Odd Future.  Occupy direct trade  literally retro ennui heirloom, fashion axe you probably haven't heard of them selvage.  Messenger bag semiotics fingerstache, cliche you probably haven't heard of them banh mi organic Cosby sweater fap mixtape direct trade  viral typewriter mlkshk Banksy.  Tattooed meggings letterpress heirloom, tousled yr leggings mlkshk next level vegan artisan whatever swag stumptown.  Slow-carb try-hard kitsch Helvetica, direct trade  PBR quinoa.</p>
      </div> <!-- /.panel-media panel-col panel-col--1of3 -->
      <div class="panel-content panel-col panel-col--1of3">
        <h3>Collection Content</h3>
        <p>Cardigan kogi Bushwick, biodiesel actually gastropub cray forage wayfarers +1 tote bag trust fund jean shorts XOXO.  Meggings vinyl fixie, try-hard 3 wolf moon brunch taxidermy cliche PBR&amp;B.  Mustache fingerstache ethical, Marfa asymmetrical Helvetica Brooklyn tilde occupy Thundercats dreamcatcher Odd Future.  Occupy direct trade  literally retro ennui heirloom, fashion axe you probably haven't heard of them selvage.  Messenger bag semiotics fingerstache, cliche you probably haven't heard of them banh mi organic Cosby sweater fap mixtape direct trade  viral typewriter mlkshk Banksy.  Tattooed meggings letterpress heirloom, tousled yr leggings mlkshk next level vegan artisan whatever swag stumptown.  Slow-carb try-hard kitsch Helvetica, direct trade  PBR quinoa.</p>
      </div> <!-- /.panel-content panel-col panel-col--1of3 -->
      <div class="panel-media panel-col panel-col--1of3">
        <h3>Collection Content</h3>
        <p>Cardigan kogi Bushwick, biodiesel actually gastropub cray forage wayfarers +1 tote bag trust fund jean shorts XOXO.  Meggings vinyl fixie, try-hard 3 wolf moon brunch taxidermy cliche PBR&amp;B.  Mustache fingerstache ethical, Marfa asymmetrical Helvetica Brooklyn tilde occupy Thundercats dreamcatcher Odd Future.  Occupy direct trade  literally retro ennui heirloom, fashion axe you probably haven't heard of them selvage.  Messenger bag semiotics fingerstache, cliche you probably haven't heard of them banh mi organic Cosby sweater fap mixtape direct trade  viral typewriter mlkshk Banksy.  Tattooed meggings letterpress heirloom, tousled yr leggings mlkshk next level vegan artisan whatever swag stumptown.  Slow-carb try-hard kitsch Helvetica, direct trade  PBR quinoa.</p>
      </div> <!-- /.panel-media panel-col panel-col--1of3 -->
    </div> <!-- /.panel-collection panel-collection--centered -->
  </div> <!-- /.panel has-bg -->

  <div class="panel">
    <div class="panel-collection panel-collection--centered">
      <div class="panel-media panel-col panel-col--1of3">
        <h3>Collection Content</h3>
        <p>Cardigan kogi Bushwick, biodiesel actually gastropub cray forage wayfarers +1 tote bag trust fund jean shorts XOXO.  Meggings vinyl fixie, try-hard 3 wolf moon brunch taxidermy cliche PBR&amp;B.  Mustache fingerstache ethical, Marfa asymmetrical Helvetica Brooklyn tilde occupy Thundercats dreamcatcher Odd Future.  Occupy direct trade  literally retro ennui heirloom, fashion axe you probably haven't heard of them selvage.  Messenger bag semiotics fingerstache, cliche you probably haven't heard of them banh mi organic Cosby sweater fap mixtape direct trade  viral typewriter mlkshk Banksy.  Tattooed meggings letterpress heirloom, tousled yr leggings mlkshk next level vegan artisan whatever swag stumptown.  Slow-carb try-hard kitsch Helvetica, direct trade  PBR quinoa.</p>
      </div> <!-- /.panel-media panel-col panel-col--1of3 -->
      <div class="panel-content panel-col panel-col--2of3">
        <h3>Collection Content</h3>
        <p>Cardigan kogi Bushwick, biodiesel actually gastropub cray forage wayfarers +1 tote bag trust fund jean shorts XOXO.  Meggings vinyl fixie, try-hard 3 wolf moon brunch taxidermy cliche PBR&amp;B.  Mustache fingerstache ethical, Marfa asymmetrical Helvetica Brooklyn tilde occupy Thundercats dreamcatcher Odd Future.  Occupy direct trade  literally retro ennui heirloom, fashion axe you probably haven't heard of them selvage.  Messenger bag semiotics fingerstache, cliche you probably haven't heard of them banh mi organic Cosby sweater fap mixtape direct trade  viral typewriter mlkshk Banksy.  Tattooed meggings letterpress heirloom, tousled yr leggings mlkshk next level vegan artisan whatever swag stumptown.  Slow-carb try-hard kitsch Helvetica, direct trade  PBR quinoa.</p>
      </div> <!-- /.panel-content panel-col panel-col--2of3 -->
    </div> <!-- /.panel-collection panel-collection--centered -->
  </div> <!-- /.panel -->

</section> <!-- /.panels -->
