<section class="project-hero">
  <div class="project-hero-container" style="background-image: url(/assets/img/img-hero-test@1x.jpg)"></div> <!-- /.project-hero-container -->
</section> <!-- /.project-hero -->

<section class="panels">

  <div class="panel">
    <div class="panel-collection panel-collection--narrow">
      <div class="panel-intro panel-col panel-col--1of1">
        <div class="project-disciplines">
          <span class="project-discipline">Branding, </span>
          <span class="project-discipline">Digital, </span>
          <span class="project-discipline">&amp; Interactive</span>
        </div> <!-- /.disciplines -->
        <h1 class="project-title">Lowes Foods</h1>
        <p class="project-description">We are a reformed ad agency created by entrepreneurs, design geeks, makers, ethnographers, data wonks and big agency survivors. We are built to solve problems. And create opportunities.</p>
      </div> <!-- /.panel-content panel-intro panel-col panel-col--1of1 -->
    </div> <!-- /.panel-collection panel-collection--narrow -->
  </div> <!-- /.panel -->

  <div class="panel">
    <div class="panel-collection panel-collection--full">
      <div class="panel-media--full" style="background-image: url(/assets/img/img-full-test.jpg)"></div> <!-- /.panel-media--full -->
    </div> <!-- /.panel-collection panel-collection--full -->
  </div> <!-- /.panel -->

  <div class="panel">
    <div class="panel-collection panel-collection--narrow">
      <div class="panel-content panel-col panel-col--1of1">
        <p>We are a reformed ad agency created by entrepreneurs, design geeks, makers, ethnographers, data wonks and big agency survivors. We are built to solve problems. And create opportunities.</p>
      </div> <!-- /.panel-content panel-col panel-col--1of1 -->
    </div> <!-- /.panel-collection panel-collection--narrow -->
  </div> <!-- /.panel -->

  <div class="panel">
    <div class="panel-collection panel-collection--full">
      <div class="panel-video--full" data-video-id="76962782" style="background-image: url(/assets/img/img-lowes-video-1.jpg)">
        <a class="video-icon"></a> <!-- /.video-icon -->
      </div> <!-- /.panel-video--full -->
    </div> <!-- /.panel-collection panel-collection--full -->
  </div> <!-- /.panel -->

  <div class="panel has-bg">
    <div class="panel-collection panel-collection--narrow">
      <div class="panel-media panel-col panel-col--1of2">
        <img src="/assets/img/img-lowes-ad-1.jpg" alt="">
      </div> <!-- /.panel-content panel-col panel-col--1of2 -->
      <div class="panel-media panel-col panel-col--1of2">
        <img src="/assets/img/img-lowes-ad-2.jpg" alt="">
      </div> <!-- /.panel-media panel-col panel-col--1of2 -->
    </div> <!-- /.panel-collection panel-collection--narrow -->
  </div> <!-- /.panel has-bg -->

  <div class="panel">
    <div class="panel-collection panel-collection--centered">
      <div class="panel-media panel-col panel-col--1of1">
        <img src="/assets/img/img-lowes-billboard-1.jpg" alt="">
      </div> <!-- /.panel-media panel-col panel-col--1of1 -->
      <div class="panel-media panel-col panel-col--1of1">
        <img src="/assets/img/img-lowes-billboard-2.jpg" alt="">
      </div> <!-- /.panel-media panel-col panel-col--1of1 -->
      <div class="panel-media panel-col panel-col--1of1">
        <img src="/assets/img/img-lowes-billboard-1.jpg" alt="">
      </div> <!-- /.panel-media panel-col panel-col--1of1 -->
    </div> <!-- /.panel-collection panel-collection--centered -->
  </div> <!-- /.panel -->

</section> <!-- /.panels -->
