// --------------------------------------------------
//
//   PROJECTS PAGE TEMPLATE
//
// --------------------------------------------------





// --------------------------------------------------
//   HERO
// --------------------------------------------------
.project-hero
  //

.project-hero-container
  height 240px
  height 40vh
  overflow hidden
  background-repeat no-repeat
  background-position center center
  background-size cover
  @media (min-width: 43.75em)
    // height 750px
    // height 80vh
    // max-height 750px
    padding-top 41.12%

// --------------------------------------------------
//   PANELS, PANEL & PANEL COLLECTION
// --------------------------------------------------
.panels
  //

.panel
  &.has-bg
    background brand-gray-lighter url(/assets/img/bg-texture.png)

.panel-collection
  @extends .row
  padding 30px 0
  &.panel-collection--centered
    margin 0 auto
    max-width 980px
  &.panel-collection--narrow
    margin 0 auto
    max-width 720px
  &.panel-collection--full
    padding 0
  @media (min-width: 43.75em)
    padding 50px 0

.panel-col
  @extends .col
  + .panel-col
    margin-top col-gutter
  @media (min-width: 43.75em)
    + .panel-col
      margin-top 0

@media (min-width: 43.75em)
  .panel-col--1of1
    @extends .col--1of1
  .panel-col--1of2
    @extends .col--1of2
  .panel-col--1of3
    @extends .col--1of3
  .panel-col--2of3
    @extends .col--2of3
  .panel-col--1of4
    @extends .col--1of4
  .panel-col--2of4
    @extends .col--2of4
  .panel-col--3of4
    @extends .col--3of4

.panel-col--1of1
  + .panel-col--1of1
    margin-top (col-gutter/2)
    @media (min-width: 43.75em)
      margin-top col-gutter

// --------------------------------------------------
//   PANEL INTRO, CONTENT, MEDIA & VIDEO
// --------------------------------------------------
.panel-intro
  text-align center
  .project-disciplines
    margin 0 auto 10px
    width 75%
    line-height 1.15
  .project-discipline
    font-family nevis
    font-size 12px
    letter-spacing .15em
    text-transform uppercase
  .project-title
    margin-bottom 20px
    font-size 24px
    letter-spacing .15em
  .project-description
    margin-bottom 0
    font-size 12px
  @media (min-width: 43.75em)
    padding 50px 0
    .project-disciplines
      width 50%
    .project-title
      font-size 55px
    .project-description
      font-size 18px

.panel-content
  p
    font-size 12px
    &:last-child
      margin-bottom 0
  .panel-collection--narrow &
    text-align center
  @media (min-width: 43.75em)
    p
      font-size 18px

.panel-media
  .panel-collection--narrow &
    img
      margin 0 auto
      width 75%
  @media (min-width: 43.75em)
    .panel-collection--narrow &
      img
        margin 0 auto
        width 100%

.panel-media--full
  padding 25% 0
  // padding-top 26.47% // To keep aspect ratio of images intact: 450/1700 = .264705882
  background-repeat no-repeat
  background-position center
  background-size cover
  @media (min-width: 43.75em)
    padding 0
    height 450px

.panel-video--full
  padding-top 44.11% // To keep aspect ratio of images intact: 750/1700 = .441176471
  position relative // For positioning video play icon and video iframe
  background-repeat no-repeat
  background-position center
  background-size cover
  .video-icon
    margin-top -24px
    margin-left -24px
    width 48px
    height 48px
    display block
    position absolute
    top 50%
    left 50%
    background url(/assets/img/icon-video-play.png) center no-repeat
    opacity .7
    cursor pointer
  .video
    text-align center
    background #000
    iframe
      width 100%
      height 100%
      position absolute
      top 0
      left 0
  @media (min-width: 43.75em)
    // padding 0
    // height 750px